<div class="warning">
    <h3><b>Sistemde kayıtlı olup elinizde olan kitaplara talep isteği geldiğinde belli süre içinde kargolanması gerekmektedir.</b></h3>
</div>
<h2 class="title">
  <b><a style="color: black">Kitap İsteklerim</a></b>
</h2>

<div class="cards">
    <div class="row">
        <h3 class="col-md-5"><b>Ürün Bilgileri</b></h3>
        <h3 class="col-md-5"><b>Sistemde Müsait Ürün Adedi</b></h3>
        <h3><b>Durum</b></h3>
    </div>
    <div class="row kart"> 
        <!-- kart divi 1 card olacak -->
        <div class="card-request col-md-5">
            <div class="content">
              <img class="book-request-img" />
              <a class="link-name">Kitap Adı</a><br>
              <a class="link-author">Kitap Yazarı</a>
            </div>
          </div>
            <h3 style="margin-top: 40px;"><b>8</b></h3>
            <div class="col-md-6">
                <button class="talep btn btn-light">
                    Onayla
                  </button>
            </div>
          
    </div>

    <div class="row kart"> 
        <!-- kart divi 1 card olacak -->
        <div class="card-request col-md-5">
            <div class="content">
              <img class="book-request-img" />
              <a class="link-name">Kitap Adı</a><br>
              <a class="link-author">Kitap Yazarı</a>
            </div>
          </div>
            <h3 style="margin-top: 40px;"><b>8</b></h3>
            <div class="col-md-6">
                <button class="talep btn btn-light">
                    Onayla
                  </button>
            </div>
          
    </div>

    
</div>
