<app-admin></app-admin>

<h1 class="h1">Slider Görselleri</h1>
<div class="mb-3 dosya1">
  <label for="formFile" class="form-label">1. Görsel</label>
  <div class="imgg"></div>
  <input class="form-control" type="file" id="formFile" />
</div>
<div class="mb-3 dosya2">
  <label for="formFile" class="form-label">2. Görsel</label>
  <div class="imgg"></div>

  <input class="form-control" type="file" id="formFile" />
</div>
<div class="mb-3 dosya3">
  <label for="formFile" class="form-label">3. Görsel</label>
  <div class="imgg"></div>

  <input class="form-control" type="file" id="formFile" />
</div>
<div class="mb-3 dosya4">
  <label for="formFile" class="form-label">4. Görsel</label>
  <div class="imgg"></div>

  <input class="form-control" type="file" id="formFile" />
</div>

<h1 class="h12">Önizleme</h1>
<div class="white-box"></div>
<app-slider ></app-slider>
