.h1 {
  margin-top: 2%;
  margin-left: 25%;
}
.h12 {
  margin-left: 25%;
  margin-top: 12%;
  position: absolute;
}
.dosya1 {
  margin-left: 25%;
  width: 240px;
  position: absolute;
}
.dosya2 {
  position: absolute;
  margin-left: 41%;
  width: 240px;
}
.dosya3 {
  position: absolute;
  margin-left: 57%;
  width: 240px;
}
.dosya4 {
  position: absolute;
  margin-left: 73%;
  width: 240px;
}
.imgg {
  border: 1px solid black;
  height: 100px;
}
.white-box {
  height: 200px;
}
