<div class="main">
   <!-- <a *ngFor="let category of categories" class="category-name" routerLink="">{{
    category.name
  }}</a> -->
  <div class="name1">
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a>

  </div>
  <div class="name2">
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a>
  </div>
  <div class="name3">
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a>
  </div>
  <div class="name4">
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a><br>
    <a class="link" routerLink="">Komedi</a>
  </div>
<div class="name5">
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a><br>
  <a class="link" routerLink="">Komedi</a>
</div>
  <br />

</div>