.main {
  border: 1px solid black;
  width: 800px;
  height: 400px;
  position: absolute;

  left: 30%;
  top: 250%;

  margin-left: -50px;

  margin-top: -50px;
}
.category-name {
  text-decoration: none;
  margin-left: 50px;
}
