<div class="main">
  <h1>KATEGORİLER</h1>
   <a *ngFor="let category of categories" class="category-name" routerLink="">{{
    category.name
  }}</a>
  <div class="names">
    <!-- <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a>
    <a>Komedi</a> -->
  </div>
  <br />
</div>
