<app-admin></app-admin>
<div class="mb-3 dosya1">
  <h1 for="formFile" class="form-label">Ayın Yazarı</h1>
  <div class="imgg"></div>
  <input class="form-control" type="file" id="formFile" />
</div>
<h1 class="yazar">Ayın Yazarı Önizleme</h1>
<h1 class="kitap">Ayın Kitabı Önizleme</h1>
<div class="mb-3 dosya2">
  <h1 for="formFile" class="form-label">Ayın Kitabı</h1>
  <div class="imgg"></div>
  <input class="form-control" type="file" id="formFile" />
</div>
  <app-bookauthor></app-bookauthor>
  <app-bookofthemonth></app-bookofthemonth>
