//---------------------------------------------------- NAVBAR ----------------------------------------------------

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  width: 500px;
}
.search-input {
  padding: 0px;
  border-radius: 5px;
  margin-left: 160px;
}

.account-icon {
  margin-right: 20%;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-icon {
  margin-left: 10%;
}
.book {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 10;
  margin-right: 30;
}
.log{
  margin-right: 20%;
}