<div style="width: 100%;" class="row justify-content-center">
  <div class="col-md-12 slogan">
    <h4 class="text-align" style="font-size: 25px;margin-top: 10px;">
     <b>Dijital Kütüphane Bir Tık Ötenizde</b>  
    </h4>
  </div>
</div>
<p>
  <mat-toolbar class="main-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>books</mat-icon>
      <span routerLink="/home">Dijital Kütüphane</span>
    </button>
    <div class="container">
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
        placeholder="Bir şeyler arayın"
      />
    </div>

    <a class="book" [routerLink]="['/add-book']">Kitap Ekle</a>
    <a class="book" [routerLink]="['/favoriler']">Favoriler</a>
    <a routerLink="/login" *ngIf="isUserLoggedIn() == false" class="book log">
      Giriş Yap/Kayıt Ol</a
    >
     <button
      class="account-icon"
      mat-button
      [matMenuTriggerFor]="bookRequest"
    >

    Kitap İstekleri
    </button>
    <mat-menu #bookRequest="matMenu">
      <button mat-menu-item>Kitap isteğiniz yok</button>
      <button mat-menu-item [routerLink]="['/kitap-istekleri']">X adet kitap isteğiniz var</button>
    </mat-menu> 

    <button
      class="account-icon"
      *ngIf="isUserLoggedIn()"
      mat-button
      [matMenuTriggerFor]="myAccount"
    >
      {{ getFullName() }}
    </button>
    <mat-menu #myAccount="matMenu">
      <button [routerLink]="['/bilgilerim']" mat-menu-item>Hesabım</button>
      <button mat-menu-item [routerLink]="['/favoriler']">Favoriler</button>
      <button mat-menu-item [routerLink]="['/okudugum-kitaplar']">Okuduğum Kitaplar</button>
      <button mat-menu-item [routerLink]="['/su-an-okuduklarim']">Şu An Bende Olan Kitaplar</button>
      <button (click)="logOut()" mat-menu-item>Çıkış Yap</button>
    </mat-menu>
  </mat-toolbar>
</p>
<div class="justify-content-center">
  <div class="row nav" >
    <a class="nav-item col-md-2" [routerLink]="['/yayinevleri']">Yayınevleri</a>
    <a class="nav-item col-md-2" [routerLink]="['/yazarlar']">Yazarlar</a>
    <a class="nav-item col-md-2" [routerLink]="['/all-book']">Kitaplar</a>
    <a class="nav-item col-md-2" [routerLink]="['/adreslerim']">Adreslerim</a>
    <a class="nav-item col-md-2" [routerLink]="['/bilgilerim']">Bilgilerim</a>
    <a class="nav-item col-md-2" [routerLink]="['/kategoriler']">Kategoriler</a>
    
  </div>
</div>

