<div class="row justify-content-center">
  <div class="col-md-12 slogan">
    <h4 class="text-align">
      Slogan - Slogan - Slogan - Slogan - Slogan - Slogan
    </h4>
  </div>
</div>
<p>
  <mat-toolbar class="main-nav">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>books</mat-icon>
      <span routerLink="/home">Dijital Kütüphane</span>
    </button>
    <div class="container">
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
        placeholder="Bir şeyler arayın"
      />
    </div>

    <a class="book" [routerLink]="['/add-book']">Kitap Ekle</a>
    <a class="book" [routerLink]="['/all-book']">Tüm Kitaplar</a>
    <a routerLink="/login" *ngIf="isUserLoggedIn() == false" class="book log">
      Giriş Yap/Kayıt Ol</a
    >

    <button
      class="account-icon"
      *ngIf="isUserLoggedIn()"
      mat-button
      [matMenuTriggerFor]="menu"
    >
      {{ getFullName() }}
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/account']" mat-menu-item>Hesabım</button>
      <button mat-menu-item>Favoriler</button>
      <button mat-menu-item>Okuduğum Kitaplar</button>
      <button (click)="logOut()" mat-menu-item>Çıkış Yap</button>
    </mat-menu>
  </mat-toolbar>
</p>
<div class="row justify-content-center">
  <div class="col-md-12 nav">
    <a class="nav-item">mini nav</a>
  </div>
</div>
