<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>books</mat-icon>
      <span routerLink="/home">Dijital Kütüphane</span>
    </button>
    <div class="container">
      <input
        class="search-input"
        type="text"
        matInput
        placeholder="Kitap, yazar adı arayın"
      />
    </div>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="add-book-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <span [routerLink]="['/add-book']" class="nav-item">Kitap Ekle</span>
    </button>
    <button
      mat-icon-button
      class="all-books-icon favorite-icon"
      aria-label="Example  with heart icon"
    >
      <span [routerLink]="['/all-book']" class="nav-item">Tüm Kitaplar</span>
    </button>
    <button
      *ngIf="isUserLoggedIn() == false"
      mat-icon-button
      class="account-icon"
      aria-label="Example icon-button with share icon"
    >
      <span routerLink="/login" class="nav-item">Giriş Yap/Kayıt Ol</span>
    </button>
    <button
      *ngIf="isUserLoggedIn()"
      mat-icon-button
      class="account-icon"
      aria-label="Example icon-button with share icon"
    >
      <span (click)="logOut()" class="nav-item">Çıkış Yap</span>
    </button>
    <button
      *ngIf="isUserLoggedIn()"
      mat-icon-button
      class="account-icon"
      aria-label="Example icon-button with share icon"
    >
      <span class="nav-item">{{ fullName }}</span>
    </button>
  </mat-toolbar>
</p>
