<div class="main">
  <div [formGroup]="createBookForm">
    <input
      class="input book-name"
      formControlName="form_name"
      [(ngModel)]="name"
      type="text"
      placeholder="Kitap Adı"
    />
    <span
      style="
        color: red;
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        font-size: 12px;
      "
      *ngIf="form_name && form_name.invalid && form_name.touched"
      >*Lütfen tüm alanları doldurun.</span
    >

    <input
      class="input book-author"
      formControlName="form_author"
      [(ngModel)]="author"
      type="text"
      placeholder="Kitap Yazarı"
    />
    <span
      style="
        color: red;
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        font-size: 12px;
      "
      *ngIf="form_author && form_author.invalid && form_author.touched"
      >*Lütfen tüm alanları doldurun.</span
    >
    <input
      class="input book-publishing"
      formControlName="form_publishing"
      [(ngModel)]="publishing"
      type="text"
      placeholder="Yayın Evi"
    />
    <span
      style="
        color: red;
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        font-size: 12px;
      "
      *ngIf="
        form_publishing && form_publishing.invalid && form_publishing.touched
      "
      >*Lütfen tüm alanları doldurun.</span
    >
    <input
      class="input book-category"
      formControlName="form_category"
      [(ngModel)]="category"
      type="text"
      placeholder="Kategori"
    />
    <span
      style="
        color: red;
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        font-size: 12px;
      "
      *ngIf="form_category && form_category.invalid && form_category.touched"
      >*Lütfen tüm alanları doldurun.</span
    >
    <input
      class="input book-summary"
      formControlName="form_summary"
      [(ngModel)]="summary"
      type="text"
      placeholder="Kitap Özeti"
    />
    <span
      style="
        color: red;
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        font-size: 12px;
      "
      *ngIf="form_summary && form_summary.invalid && form_summary.touched"
      >*Lütfen tüm alanları doldurun.</span
    >
    <button
      (click)="createBook()"
      [disabled]="createBookForm.invalid"
      class="submit-button"
      type="submit"
      mat-raised-button
    >
      Onaya Gönder
    </button>
  </div>

  <hr class="hr" />
</div>
<div class="row">
  <div class="col-md-12 div-width">
    <app-bookofthemonth class="for-create-book"></app-bookofthemonth>
  </div>
  <div class="col-md-12 div-width margin">
    <app-category class="category-component"></app-category>
  </div>
</div>

<div *ngFor="let alert of alerts" class="alert alert-success alert-dismissible fade show successAlert" role="alert">
  Kitap ekleme başarılı. Kontrol edildikten sonra yayınlanacaktır.
  <button type="button" class="close" aria-label="Close" (click)="close(alert)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container detailbook-image">
  <form>
    <label for="arquivo">Kitap Görseli:</label>
    <input accept=".jpg, .jpeg, .png, .gif, .pdf" class="inpdddut" name="arquivo" id="arquivo" type="file">
  </form>
</div>