.main {
  height: 115%;
  width: 41%;
  top: 70;
  left: 30%;
  position: absolute;
  right: 20%;
  border-bottom: none;
  border-top: none;
  margin-top: 60px;
}
.detailbook-image {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 60px;
}
.input {
  border: 1px solid gray;
  padding: 10px;
  margin-left: 5%;
  border-radius: 5px;
}
.input {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  padding: 11px;
  margin-bottom: 5px;
}
.input:focus {
  outline: black;
  box-shadow: 2px 2px 5px gray;
}
.book-name {
  position: absolute;
  top: 30px;
  width: 64%;
  height: 30px;
}
.book-author {
  position: absolute;
  top: 70px;
  width: 64%;
  height: 30px;
}
.book-publishing {
  position: absolute;
  top: 110px;
  width: 64%;
  height: 30px;
}
.book-summary {
  width: 64%;
  height: 100px;
  position: absolute;
  top: 190px;
}
.submit-button {
  position: absolute;
  top: 300px;
  left: 74%;
}
.for-create-book {
  position: relative;
  top: 380px;
 text-align: center;
 left: 10px;
}
.category-component {
  text-align: justify;
 position: relative;
 top: 450px;
 text-align: center;
}
.book-category {
  width: 64%;
  position: absolute;
  height: 30px;
  top: 150px;
}
.hr {
  margin-top: 50px;
}
.div-width{
  height: 10px;
  margin-top: 50px;
}
.margin{
  margin-top: 150px;
}