<br />
<!-- <div class="main-div">Ekranın Ortasına gelmeli</div> -->
<img
  class="login-image"
  src="assets/images/books.jpg"
  alt="Dijital Kütüphane"
/>

<div [formGroup]="loginForm" class="login">
  <h1 class="title-login">{{ title_login }}</h1>

  <input
    type="email"
    [(ngModel)]="loginEmail"
    class="input form-control"
    formControlName="lemail"
    placeholder="E-posta"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="lemail && lemail.invalid && lemail.touched"
    >*Lütfen e-posta giriniz.</span
  >

  <input
    class="input"
    type="password"
    [(ngModel)]="loginPassword"
    formControlName="lpassword"
    placeholder="Şifre"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="lpassword && lpassword.invalid && lpassword.touched"
    >*Lütfen şifre giriniz.</span
  >
  <div class="checkbox-div">
    <mat-checkbox class="example-margin checkbox-login"
      >Beni Hatırla</mat-checkbox
    >
    <a class="forget-password" routerLink="/home" routerLinkActive="active"
      >Şifremi Unuttum</a
    >
  </div>
  <br /><br />
  <br /><br />
  <button
    [disabled]="loginForm.invalid"
    type="submit"
    class="login-button"
    mat-raised-button
    (click)="loginUser()"
  >
    Giriş Yap
  </button>
</div>

<form [formGroup]="signupForm" class="signup">
  <h1 class="title-signup">{{ title_signup }}</h1>

  <input
    class="input"
    [(ngModel)]="signupName"
    formControlName="sname"
    type="text"
    placeholder="Ad"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="sname && sname.invalid && sname.touched"
    >*Lütfen ad giriniz.</span
  >

  <input
    [(ngModel)]="signupLastname"
    formControlName="slastname"
    class="input"
    type="text"
    placeholder="Soyad"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="slastname && slastname.invalid && slastname.touched"
    >*Lütfen soyad giriniz.</span
  >

  <input
    [(ngModel)]="signupEmail"
    formControlName="semail"
    class="input"
    type="email"
    placeholder="E-posta"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="semail && semail.invalid && semail.touched"
    >*Lütfen e-posta giriniz.</span
  >

  <input
    [(ngModel)]="signupPassword"
    formControlName="spassword"
    class="input"
    type="password"
    placeholder="Şifre"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="spassword && spassword.invalid && spassword.touched"
    >*Lütfen şifre giriniz.</span
  >
  <input
    [(ngModel)]="signupPasswordAgain"
    formControlName="spasswordagain"
    class="input"
    type="password"
    placeholder="Şifre tekrar"
  />
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="spasswordagain && spasswordagain.invalid && spasswordagain.touched"
    >*Lütfen şifreyi tekrar giriniz.</span
  >
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="isTrue"
    >*Şifreler aynı değil.</span
  >

  <mat-checkbox formControlName="scontract" class="example-margin"
    >Sözleşmeyi okudum, kabul ediyorum.</mat-checkbox
  >
  <span
    style="color: red; margin-left: 5%; font-size: 12px; margin-top: 0px"
    *ngIf="scontract && scontract.invalid && scontract.touched"
    >*Lütfen sözleşmeyi onaylayın.</span
  >
  <br />
  <mat-checkbox class="example-margin"
    >Elektronik ileti almak istiyorum.</mat-checkbox
  >
  <button
    (click)="createUser()"
    [disabled]="signupForm.invalid"
    class="signup-button"
    mat-raised-button
  >
    Kayıt Ol
  </button>
</form>

<div class="footer">
  <h2 class="title-mobile">Mobil Uygulamalar</h2>
  <button mat-raised-button class="mobile-app">App Store</button>
  <button class="mobile-app google-play" mat-raised-button>Google Play</button>
  <h2 class="title-social">Sosyal Medya</h2>
  <mat-icon class="social-icon-twitter">facebook</mat-icon>
</div>
