
//---------------------------------------------------- BODY ----------------------------------------------------
.login-image {
  height: 70%;
  position: absolute;
  left: 38%;
  top: 16%;
}
.login {
  border-radius: 5%;
  height: 400px;
  width: 400px;
  background-color: wheat;
  right: 60%;
  top: 25%;
  position: absolute;
}
.signup {
  border-radius: 5%;
  height: 400px;
  width: 400px;
  background-color: wheat;
  left: 60%;
  top: 25%;
  box-sizing: border-box;
  position: absolute;
}
.input {
  border: 1px solid gray;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}
.example-full-width {
  width: 90%;
  margin-left: 5%;
  height: 13%;
}
.input {
  background-color: wheat;
  border: 1px solid gray;
  padding: 11px;
  margin-bottom: 5px;
}
.input:focus {
  outline: black;
  box-shadow: 2px 2px 5px gray;
}
.login-button {
  left: 40%;
}
.signup-button {
  top: 10%;
  right: 30%;
}
.example-margin {
  margin-left: 3%;
  height: 25px;
}
.forget-password {
  text-decoration: none;
  color: black;
  margin-left: 50%;
  position: absolute;
  top: 61.5%;
  display: inline;
}
.checkbox-login {
  display: inline-block;
  top: 59%;
  position: absolute;
}
.checkbox-div {
  float: bottom;
}
.title-login {
  text-align: center;
  margin-top: 70px;
}
.title-signup {
  text-align: center;
  margin-top: 20px;
}
//---------------------------------------------------- FOOTER ----------------------------------------------------
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(230, 230, 230);
  position: absolute;
  left: 0;
  bottom: 2%;
}
.title-mobile {
  margin-left: 10%;
  margin-top: 0.4%;
  color: gray;
}
.title-social {
  left: 65%;
  top: 10%;
  position: absolute;
  color: gray;
}
.mobile-app {
  left: 22%;
  top: 10%;
  position: absolute;
}
.google-play {
  left: 30%;
}
.social-icon-twitter {
  left: 74%;
  top: 20%;
  position: absolute;
}
// KONTEYNIR*************************************************************
.kontainer {
  position: absolute;
  left: 0;
  bottom: 2%;
}
