<div class="route">
    <a>Anasayfa</a><a> > </a>
    <a>Hesabım</a><a> > </a>
    <a>Bilgilerim</a>
</div>
<div class="account-nav  justify-content-center">
    <div class="row nav">
      <a class="nav-item col-md-3" [routerLink]="['/bilgilerim']" style="color:rgb(192, 166, 118);border-bottom: 2px solid rgb(192, 166, 118);">BİLGİLERİM</a>
      <a class="nav-item col-md-3" [routerLink]="['/adreslerim']">ADRESLERİM</a>
      <a class="nav-item col-md-3" [routerLink]="['/okudugum-kitaplar']">OKUDUĞUM KİTAPLAR</a>
      <a class="nav-item col-md-3" [routerLink]="['/su-an-okuduklarim']">ŞU AN BENDE OLAN KİTAPLAR</a>
    </div>
  </div>
  
  <div class="update-name">
    <h1 class="title">Kişisel Bilgilerim</h1>
    <input
      class="password-input form-control"
      [(ngModel)]="firstName"
      type="text"
      placeholder="Ad"
    />
    <input
      class="password-input form-control"
      [(ngModel)]="lastName"
      type="text"
      placeholder="Soyad"
    />
    <input
      type="email"
      class="password-input form-control"
      [(ngModel)]="email"
      placeholder="E-posta"
    />
    <input
      type="tel"
      class="password-input form-control"
      [(ngModel)]="phoneNo"
      placeholder="Cep Telefonu"
    />
    <button (click)="updateMyData()" class="button" mat-raised-button>
      Bilgilerimi Güncelle
    </button>
  </div>
  <div class="update-password">
    <h1>Şifre Güncelleme</h1>
    <input
      class="password-input form-control"
      type="password"
      [(ngModel)]="currentPassword"
      placeholder="Mevcut Şifre"
    />
    <input
      class="password-input form-control"
      type="password"
      [(ngModel)]="newPassword"
      placeholder="Yeni şifreyi girin"
    />
    <input
      class="password-input form-control"
      type="password"
      [(ngModel)]="againNewPassword"
      placeholder="Yeni şifreyi tekrar girin"
    />
    <button
      (click)="updatePassword()"
      class="button"
      mat-raised-button
    >
      Bilgilerimi Güncelle
    </button>
  </div>
