.nav-item {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
}
.nav-item:hover {
  color: #0000AA;
  background-color: rgb(252, 252, 248);
  border-bottom: 2px solid #0000AA;
}
.route {
  margin: 50px;
}
//inputs
.update-password {
  position: absolute;
  margin-left: 50%;
  top: 53%;
}

.update-name {
    position: absolute;
    margin-left: 10%;
    top: 53%;
}
.password-input {
  border: 1px solid gray;
  padding: 10px;
  width: 150%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.input {
  border: 1px solid gray;
  padding: 10px;
  width: 20%;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.input:focus,
.password-input:focus {
  outline: black;
  box-shadow: 2px 2px 5px gray;
}
.title {
  margin-left: 5%;
}
.button{
  top: 2%;
  width: 150%;
  color: #FF9900;
  border: 1px solid rgb(192, 166, 118);
}
.button:hover{
  color: white;
  background-color:#FF9900;
}
