 <app-admin></app-admin>
 
 <div class="container">
  <input
    id="typeahead-focus"
    type="text"
    class="form-control"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)"
    #instance="ngbTypeahead"
    placeholder="Yazar ismiyle arayın"
  />
</div>
<div class="add-item">
  <button  (click)="openAddressPopup()" class="button btn btn-light">
 + Yazar Ekle
</button>
<br /><br />
</div>


<ng-template #addressPopup>
  <div [formGroup]="addAuthorForm" class="popup-container">
    <h2 style="text-align: center">Yazar Ekle</h2>
    <mat-form-field appearance="outline">
      <mat-label>Adı</mat-label>
      <input
      matInput
    />
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Yazdığı Kategoriler</mat-label>
      <input
      matInput
    />
    </mat-form-field>
      <div class="container author-image">
        <form>
          <label for="arquivo">Yazar Görseli:</label>
          <input formControlName="form_image" accept=".jpg, .jpeg, .png, .gif, .pdf" class="inpdddut" name="arquivo" id="arquivo" type="file" (change)="onFileSelected($event)">
        </form>
      </div>
   
    </div>
</ng-template>


 <div class="main">
  <div *ngFor="let data of datas" class="author">
    <div class="author-img"></div>
    <h2> {{data.name}}</h2>
    <button  class="talep btn btn-light">
      Düzenle
    </button>
  </div>
 </div>
