.mat-elevation-z8 {
  width: 900px;
  margin-left: 450;
  margin-top: 90;
}
.author-img{
  border: 1px solid black;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.talep {
  border: 1px solid rgb(192, 166, 118);
  color: #ff9900;
}
.talep:hover {
  color: white;
  background-color: #ff9900;
}
.author{
  padding: 10px;
  border: 1px solid black;
  width: 150px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.main{
  margin-top: 100px;
  margin-left: 400px;
  width: 70%;
  height: 300px;
}
.form-control {
  width: 450px;
  margin-top: 130px;
  border: 1px solid #0000AA;
  position: absolute;
  top: 80px;
  left: 400px;
}
.add-item {
  margin-top: 0px;
}
.button{
  margin-left: 65%;
  width: 15%;
  height: 50px;
  color: #FF9900;
  border: 1px solid rgb(192, 166, 118);
}
.button:hover{
  color: white;
  background-color:#FF9900;
}
.popup-container {
  overflow: hidden;
  padding: 20 50;
  text-align: center;
}
