<div class="main-div">
  <h1 class="card-list-name">Yeni Eklenenler</h1>
  <div class="container" #container>
    <mat-icon
      class="left"
      *ngIf="totalPages > 1"
      (click)="currentPage != 1 && changePage(-1)"
      [ngClass]="{ disabled: currentPage === 1 }"
      >navigate_before</mat-icon
    >

    <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
      <a class="goToAll" [routerLink]="['/book-detail']">Tümüne Git</a>
      <div
        class="overflow"
        [ngStyle]="{ width: overflowWidth, left: pagePosition }"
      >
        <div
          class="card"
          *ngFor="let data of datas"
          [ngStyle]="{ width: cardWidth }"
          [routerLink]="['/book-detail', data.categoryId, data.id]"
        >
          <div class="book-content">
            <img class="book-img" [src]="'data:image/png;base64,' + data.image" />
            <div class="book-text">
              <h3 class="text-center">{{ data.name }}</h3>
              <h3 class="text-center">{{ data.author }}</h3>
              <h3 class="text-center">{{ data.publishing }}</h3>
              <h3 class="text-center">{{ data.category }}</h3>
            </div>
            <div class="text-center">
              <button class="talep btn btn-light ">
                Talep Et
              </button>

              <button
                class="fav btn btn-light"
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-icon
      class="right"
      *ngIf="totalPages > 1"
      (click)="currentPage != totalPages && changePage(+1)"
      [ngClass]="{ disabled: currentPage === totalPages }"
      >navigate_next</mat-icon
    >
  </div>
</div>
