<div class="main-div">
  <h1 class="card-list-name">Yeni Eklenenler</h1>
  <div class="container" #container>
    <mat-icon
      class="left"
      *ngIf="totalPages > 1"
      (click)="currentPage != 1 && changePage(-1)"
      [ngClass]="{ disabled: currentPage === 1 }"
      >navigate_before</mat-icon
    >

    <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
      <a class="goToAll" [routerLink]="['/kategori-ayrintisi']">Tümüne Git</a>
      <div
        class="overflow"
        [ngStyle]="{ width: overflowWidth, left: pagePosition }"
      >
        <div
          class="card"
          *ngFor="let data of datas"
          [ngStyle]="{ width: cardWidth }"
        >
          <div class="book-content">
            <img
              [routerLink]="['/book-detail', data.categoryId, data.id]"
              class="book-img"
              [src]="'data:image/png;base64,' + data.image"
            />
            <div
              [routerLink]="['/book-detail', data.categoryId, data.id]"
              class="book-text"
            >
              <h3 class="text-center">{{ data.name }}</h3>
              <h3 class="text-center">data.author</h3>
              <h3 class="text-center">data.publishing</h3>
              <h3 class="text-center">data.category</h3>
            </div>
            <div class="text-center">
              <button (click)="openAddressPopup()" class="talep btn btn-light">
                Talep Et
              </button>

              <ng-template #addressPopup>
                <div class="pop-up">
                  <h3>
                    Gecenin Işıkları adlı kitaptan sistemde 5 adet müsaittir.
                    Talepte bulunmak ister misiniz?
                  </h3>
                  <button
                    (click)="closeAddressPopup()"
                    class="cancel btn btn-light"
                  >
                    İptal
                  </button>
                  <button class="talep-yes btn btn-light">Evet</button>
                </div>
              </ng-template>

              <button
                class="fav btn btn-light"
                mat-icon-button
                color="warn"
                [routerLink]="['/favoriler']"
                aria-label="Example icon button with a heart icon"
              >
                <mat-icon>favorite</mat-icon>
              </button>
              <h5 class="text-center">Sistemde müsait kitap adedi: 5</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-icon
      class="right"
      *ngIf="totalPages > 1"
      (click)="currentPage != totalPages && changePage(+1)"
      [ngClass]="{ disabled: currentPage === totalPages }"
      >navigate_next</mat-icon
    >
  </div>
</div>
