<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>books</mat-icon>
      <span routerLink="/home">Dijital Kütüphane</span>
    </button>
    <div class="container">
      <input
        class="search-input"
        type="text"
        matInput
        placeholder="Kitap, yazar adı arayın"
      />
    </div>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="add-book-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>add_circle</mat-icon>
      <span class="nav-item">Kitap Ekle</span>
    </button>
    <button
      mat-icon-button
      class="all-books-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>library_books</mat-icon>
      <span class="nav-item">Tüm Kitaplar</span>
    </button>
    <button
      mat-icon-button
      class="account-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>account_circle</mat-icon>
      <span routerLink="/login" class="nav-item">Giriş Yap/Kayıt Ol</span>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
