<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <button mat-button routerLink="/approval-book" class="sidenav-button">
      Bekleyen Kitaplar</button
    ><br />
    <button mat-button routerLink="/slider-picture" class="sidenav-button">
      Slider Görselleri</button
    ><br />
    <button mat-button routerLink="/featured-books" class="sidenav-button">
      Öne Çıkan Kitaplar</button
    ><br />
    <button mat-button routerLink="/book-author" class="sidenav-button">
      Haftanın Kitabı ve Yazarı</button
    ><br />
    <button mat-button routerLink="/add-author" class="sidenav-button">
      Yazar Ekle/Düzenle
    </button>
  </mat-sidenav>
</mat-sidenav-container>
