<div class="author-div">
    <div class="categories-list">
        <h3 class="categories-title"><b>Kategoriler</b></h3>
        <hr style="margin-right: 20px;">
        <div *ngFor="let data of getDatasCategory">
          <a class="link" [routerLink]="['/kategori-ayrintisi']">{{data.name}}</a><br>
        </div>
    </div>
  </div>
  <h2 class="title">
    <b><a style="color: black;" [routerLink]="['/kategoriler']">Kategoriler</a> > <b>Komedi</b></b></h2>

  <div class="cards" >
    <div class="overflow">
      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>


      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>