<div class="author-div">
  <div class="categories-list">
    <h3 class="categories-title"><b>Kategori ile arayın</b></h3>
    <hr style="margin-right: 20px" />
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
    <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a>
</div>
</div>
<h2 class="title"><b>Önerilen Yazarlar</b></h2>

<div  class="row categories">
  <div [routerLink]="['/yazar-ayrintisi', data.id]" *ngFor="let data of datas" class="category">
    <h3 class="category-title"><b>{{data.name}}</b></h3>
  </div>
</div>

<div class="container">
  <input
    id="typeahead-focus"
    type="text"
    class="form-control"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)"
    #instance="ngbTypeahead"
    placeholder="Yazar ismiyle arayın"
  />
</div>
