.product {
  padding: 30px 0;
}
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 350px;
}
.slider-main {
  position: absolute;
  width: 100%;
}
.item {
  display: inline-block;
  width: 800; //aradaki uzaklık
  height: 350px;
  background-color: gray;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
  position: relative;
  margin: 0 12%;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev {
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.next {
  position: absolute;
  right: 18%;
  top: 50%;
  transform: translate(-50%, -50%);
}
//gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
.next:hover,
.prev:hover {
  height: 30px;
  width: 30px;
  background-color: gray;
  opacity: 0.2;
  border-radius: 50px;
}
.slider-image {
  width: 800;
  height: 350px;
}
