<app-admin></app-admin>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="kitapGorseli">
      <th mat-header-cell *matHeaderCellDef>Kitap Görseli</th>
      <td mat-cell *matCellDef="let element">{{ element.kitapGorseli }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="kitapAdi">
      <th mat-header-cell *matHeaderCellDef>Kitap Adı</th>
      <td mat-cell *matCellDef="let element">{{ element.kitapAdi }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="kitapYazari">
      <th mat-header-cell *matHeaderCellDef>Kitap Yazarı</th>
      <td mat-cell *matCellDef="let element">{{ element.kitapYazari }}</td>
    </ng-container>

    <ng-container matColumnDef="kitapOzeti">
      <th mat-header-cell *matHeaderCellDef>Kitap Özeti</th>
      <td mat-cell *matCellDef="let element">{{ element.kitapOzeti }}</td>
    </ng-container>

    <ng-container matColumnDef="yayinEvi">
      <th mat-header-cell *matHeaderCellDef>Yayın Evi</th>
      <td mat-cell *matCellDef="let element">{{ element.yayinEvi }}</td>
    </ng-container>

    <ng-container matColumnDef="basim">
      <th mat-header-cell *matHeaderCellDef>Basım</th>
      <td mat-cell *matCellDef="let element">{{ element.basim }}</td>
    </ng-container>

    <ng-container matColumnDef="kitapTuru">
      <th mat-header-cell *matHeaderCellDef>Kitap Türü</th>
      <td mat-cell *matCellDef="let element">{{ element.kitapTuru }}</td>
    </ng-container>

    <ng-container matColumnDef="kitabinDurumu">
      <th mat-header-cell *matHeaderCellDef>Kitabın Durumu</th>
      <mat-icon>account_circle</mat-icon>

      <td mat-cell *matCellDef="let element">{{ element.kitabinDurumu }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
