<div class="author-div">
    <div class="categories-list">
      <h3 class="categories-title"><b>Kategori ile arayın</b></h3>
      <hr style="margin-right: 20px" />
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Komedi</a><br>
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a><br>   
      <a class="link" [routerLink]="['/kategori-yazarlari']">Macera</a>
  </div>
  </div>
  <h2 class="title">
    <b><a style="color: black;" [routerLink]="['/yazarlar']">Yazarlar</a> > <b>Komedi Yazarları</b></b></h2>


  <div class="container">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
      placeholder="Yazar ismiyle arayın"
    />
  </div>
  

   <div class="cards" >
    <div class="overflow">
      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>


      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="card" [routerLink]="['/#']">
        <div class="book-content">
          <img class="book-img" />
          <div class="book-text">
            <h3 class="text-center"> data.name </h3>
            <h3 class="text-center"> data.author </h3>
            <h3 class="text-center"> data.publishing </h3>
            <h3 class="text-center"> data.category </h3>
          </div>
          <div class="text-center">
            <button class="talep btn btn-light ">
              Talep Et
            </button>

            <button
              class="fav btn btn-light"
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> 