
  .cards {
    overflow: hidden;
    margin-top: 50px;
    margin-left: 10%;
  }
  .overflow {
    position: relative;
    transition: left 0.5s ease-in-out;
  }
  .card {
    height: 460px;
    width: 200px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    position: relative;
    border: 1px solid rgb(231, 220, 220);
    cursor: pointer;

  }
  .card-list-name {
    margin-top: 40px;
    margin-left: 10%;

  }
  
  .btn{
    border: 1px solid #FF9900;
    color: #FF9900;
  }
  .btn:hover{
    color: white;
    background-color:#FF9900;
  }
  .book-content {
    margin-top: 10px;
  }
  .book-img {
    height: 210px;
    margin-left: 24px;
    width: 150;
  }
  .text-center {
    text-align: center;
  }
  .text-center:hover{
    color: gray;
  }
.delete-icon{
    position: absolute;
    top: 5;
    right: 5;
    color: gray;
    border: 1px solid gray;
    padding: 7px;
    border-radius: 50px;
    background-color: white;
}
.delete-icon:hover{
    color: wheat;
    border: 1px solid wheat;
}

  
  