<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <app-slider></app-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <app-bookauthor></app-bookauthor>
    </div>
    <div style="margin-left: 130px;" class="col-md-5">
      <app-bookofthemonth></app-bookofthemonth>
    </div>
  </div>
  <div class="row">
    <app-cardslider></app-cardslider>
  </div>
  <div class="categories row">
    <app-category></app-category>
  </div>
</div>
