.input {
  border: 1px solid gray;
  padding: 10px;
  width: 20%;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.input:focus,
.password-input:focus {
  outline: black;
  box-shadow: 2px 2px 5px gray;
}
.password-input {
  border: 1px solid gray;
  padding: 10px;
  width: 150%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}
.signup-button {
  top: 2%;
  margin-left: 5%;
  width: 20%;
}
.menu {
  margin-top: 5%;
}
.update-name {
  margin-top: 5%;
}
.title {
  margin-left: 5%;
}
.update-password {
  position: absolute;
  margin-left: 50%;
  top: 20%;
}
.password-button {
  top: 2%;
  width: 150%;
}
