<mat-tab-group class="menu">
  <mat-tab label="Bilgilerim">
    <div class="update-name">
      <h1 class="title">Kişisel Bilgilerim</h1>
      <input class="input form-control" type="text" placeholder="Ad" />
      <input class="input form-control" type="text" placeholder="Soyad" />
      <input type="email" class="input form-control" placeholder="E-posta" />
      <input type="tel" class="input form-control" placeholder="Cep Telefonu" />
      <button class="signup-button" mat-raised-button>
        Bilgilerimi Güncelle
      </button>
    </div>
    <div class="update-password">
      <h1>Şifre Güncelleme</h1>
      <input
        class="password-input form-control"
        type="password"
        placeholder="Mevcut Şifre"
      />
      <input
        class="password-input form-control"
        type="password"
        placeholder="Yeni şifreyi girin"
      />
      <input
        class="password-input form-control"
        type="password"
        placeholder="Yeni şifreyi tekrar girin"
      />
      <button class="password-button" mat-raised-button>
        Bilgilerimi Güncelle
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Adreslerim"> Content 2 </mat-tab>
  <mat-tab label="Okuduklarım"> Content 3 </mat-tab>
  <mat-tab label="Şu an bende olan kitaplar"> Content 3 </mat-tab>
</mat-tab-group>
