<mat-tab-group class="menu">
  <mat-tab label="Bilgilerim">
    <div class="update-name">
      <h1 class="title">Kişisel Bilgilerim</h1>
      <input class="input form-control" type="text" placeholder="Ad" />
      <input class="input form-control" type="text" placeholder="Soyad" />
      <input type="email" class="input form-control" placeholder="E-posta" />
      <input type="tel" class="input form-control" placeholder="Cep Telefonu" />
      <button class="signup-button" mat-raised-button>
        Bilgilerimi Güncelle
      </button>
    </div>
    <div class="update-password">
      <h1>Şifre Güncelleme</h1>
      <input
        class="password-input form-control"
        type="password"
        placeholder="Mevcut Şifre"
      />
      <input
        class="password-input form-control"
        type="password"
        placeholder="Yeni şifreyi girin"
      />
      <input
        class="password-input form-control"
        type="password"
        placeholder="Yeni şifreyi tekrar girin"
      />
      <button class="password-button" mat-raised-button>
        Bilgilerimi Güncelle
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Adreslerim">
    <div class="add-item">
      <button
        class="add-address"
        mat-raised-button
        (click)="openAddressPopup()"
      >
        + Adres Ekle</button
      ><br /><br />
      <div>
        <button class="add-address" mat-raised-button>
          + Fatura Adresi Ekle
        </button>
      </div>
    </div>
    <ng-template #addressPopup>
      <div [formGroup]="addAddressForm" class="popup-container">
        <h2 style="text-align: center">Adres Ekle</h2>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Adı Soyadı*</mat-label>
          <input matInput placeholder="{{ getFullName() }}" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adres Başlığı*</mat-label>
          <input
            matInput
            placeholder="Lütfen Adres Başlığını Giriniz."
            formControlName="form_title"
          /> </mat-form-field
        ><br />
        <mat-form-field appearance="outline">
          <mat-label>İl</mat-label>
          <mat-select formControlName="form_city" required>
            <mat-option value="option">İl</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>İlçe</mat-label>
          <mat-select formControlName="form_district" required>
            <mat-option value="option">İlçe</mat-option>
          </mat-select> </mat-form-field
        ><br />
        <mat-form-field appearance="outline">
          <mat-label>Mahalle / Köy*</mat-label>
          <input
            formControlName="form_neighborhood"
            matInput
            placeholder="Lütfen Mahalle / Köy Giriniz."
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bina/Apt./Blok No</mat-label>
          <input
            formControlName="form_buildingnumber"
            matInput
          /> </mat-form-field
        ><br />
        <mat-form-field appearance="outline">
          <mat-label>Kat No</mat-label>
          <input formControlName="form_floorNumber" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Daire No</mat-label>
          <input
            formControlName="form_apartmentNumber"
            matInput
          /> </mat-form-field
        ><br />
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Teslimat Adresi*</mat-label>
          <input
            formControlName="form_deliveryAddress"
            matInput
            placeholder="Sokak, cadde, apartman adı, daire no ve diğer bilgileri eksiksiz girmeniz 'kargo teslimatı' için çok önemlidir!"
          /> </mat-form-field
        ><br />
        <mat-form-field appearance="outline">
          <mat-label>Posta Kodu</mat-label>
          <input formControlName="form_postCode" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cep Telefonu*</mat-label>
          <input
            formControlName="form_phoneNumber"
            matInput
            placeholder="0(5XX) XXX XX XX"
          />
          <mat-hint style="width: 100%"
            >*Cep telefonu numaranızı başında <b>0</b> olacak şekilde
            giriniz.</mat-hint
          > </mat-form-field
        ><br />
        <button
          style="width: 100%; margin-top: 50px"
          mat-raised-button
          (click)="saveAddressButton()"
          [disabled]="addAddressForm.invalid"
        >
          Kaydet</button
        ><br />
        <mat-checkbox type="checkbox" [color]="color"
          >Bu adresi fatura adresi olarak da kullan.</mat-checkbox
        ><br />
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Okuduklarım">
    <div class="container" #container>
      <div class="cards">
        <div class="overflow">
          <div
            class="card"
            *ngFor="let data of datas"
            [routerLink]="['/book-detail']"
          >
            <div class="book-content">
              <img class="book-img" src="assets/images/card.png" />
              <div class="book-text">
                <h3 class="text-center">sdfsdf</h3>
                <h3 class="text-center">sdf</h3>
                <h3 class="text-center">dsf</h3>
                <h5 class="text-center">sdfsd</h5>
              </div>
              <div class="text-center">
                <button
                  class="fav btn btn-light"
                  mat-icon-button
                  color="warn"
                  aria-label="Example icon button with a heart icon"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Şu an bende olan kitaplar">
    <span class="warning"
      >*Okundu olarak işaretlediğinde kitap tekrar yayınlanacaktır.</span
    >
    <div class="container" #container>
      <div class="cards">
        <div class="overflow">
          <div
            class="card"
            *ngFor="let data of datas"
            [routerLink]="['/book-detail']"
          >
            <div class="book-content">
              <img class="book-img" src="assets/images/card.png" />
              <div class="book-text">
                <h3 class="text-center">sdfsdf</h3>
                <h3 class="text-center">sdf</h3>
                <h3 class="text-center">dsf</h3>
                <h5 class="text-center">sdfsd</h5>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-secondary me-2"
                  placement="bottom"
                  ngbTooltip="Okundu olarak işaretle"
                >
                  Okundu
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
