<h2 class="title"><b>Yayınevleri</b></h2>

<div class="row categories">
  <div *ngFor="let data of datas" class="category">
    <h3 [routerLink]="['/yayinevi-ayrintisi', data.id]" class="category-title"><b>{{data.name}}</b></h3>
  </div>
</div>
<div class="container">
    <input
      id="typeahead-focus"
      type="text"
      class="form-control"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      (focus)="focus$.next($any($event).target.value)"
      (click)="click$.next($any($event).target.value)"
      #instance="ngbTypeahead"
      placeholder="Yayınevi ismiyle arayın"
    />
  </div>
  