.title {
    position: absolute;
    top: 250;
    left: 20%;
  }
  .categories{
    margin-left: 200px;  
    width: 80%;
    position: absolute;
    top: 300;
}
.category{
    width: 100;
    height: 100;
    margin: 40;
    border-radius: 50px;
    background-color: #5b6a8a;
    cursor: pointer;
}
.category:hover{
    opacity: 0.5;
    box-shadow: 1 1 1 1;
}
.form-control {
    width: 450px;
    margin-top: 100px;
    border: 1px solid #0000AA;
    position: absolute;
    top: 80px;
}
  .container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100;

}
.category-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 15px;
}
