<div class="container" *ngIf="book">
  <div class="row">
    <div class="col-md-6">
      <img class="detailbook-image" src="assets/images/card.png" />
      <h1 class="book-name">{{book.name}}</h1>
      <h4 class="book-author">{{book.author}} |</h4>
      <h4 class="book-publishing">{{book.publishing}}</h4>
      <p class="book-summary">
        {{book.summary}}
      </p>
      <h5 class="read-book">Bu kitap {{book.readCount}} kez okunmuştur.</h5>
  
      <button
        class="fav"
        mat-icon-button
        color="warn"
        aria-label="Example icon button with a heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button class="talep" mat-raised-button>Talep Et</button>
    </div>
    <div class="col-md-12 div-width">  
      <app-bookofthemonth class="for-create-book"></app-bookofthemonth>
    </div>
    <div class="row categories">
      <app-category ></app-category>
    </div>
  </div>

  <hr class="hr" />
</div>
