.container {
  height: 115%;
  width: 41%;
  top: 70;
  left: 30%;
  position: absolute;
  right: 20%;
}
.detailbook-image {
  margin-top: 100px;
  margin-left: 10px;
  margin-bottom: 60px;
  width: 210;
  height: 150;
}
.input {
  border: 1px solid gray;
  padding: 10px;
  margin-left: 5%;
  border-radius: 5px;
}
.input {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  padding: 11px;
  margin-bottom: 5px;
}
.input:focus {
  outline: black;
  box-shadow: 2px 2px 5px gray;
}
.book-name {
  position: absolute;
  top: 100;
  width: 64%;
  height: 30px;
}
.book-author {
  position: absolute;
  top: 140;
  width: 64%;
  height: 30px;
}
.book-publishing {
  position: absolute;
  top: 140;
  width: 64%;
  height: 30px;
}
.book-summary {
  width: 64%;
  height: 100px;
  position: absolute;
  top: 180px;
}
.submit-button {
  position: absolute;
  top: 260px;
  left: 74%;
}
.for-create-book {
  position: relative;
  top: 20px;
  left: -50px;
  text-align: center;
}
.div-width {
  height: 10px;
  margin-top: 50px;
}

.categories {
display: flex;
justify-content: center;
margin-top: 300;
}
.book-name {
  position: absolute;
  left: 250;
}
.book-author {
  left: 250;
  opacity: 0.6;
  width: 300;
}
.book-publishing {
  left: 385;
  opacity: 0.6;
  width: 300;
}
.book-summary {
  left: 250;
  width: 400;
}
.read-book {
  margin-top: -50;
  margin-left: 10;
}
